<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs')%>
            <main>
                <h1>
                    <%=product.productTitle%>
                </h1>
                <p>
                    <%=product.productDescription%>
                </p>
                <h4>
                    Rs.<%=product.productPrice%>/= only
                </h4>
                
                <%- include('../includes/add-to-cart') %>

            </main>
    </body>

    </html>