<table>
    <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <% if(products.length>0) {%>
            <%for(let prod of products){%>
                <tr>
                    <td>
                        <%=prod.title%>
                    </td>
                    <td>
                        <%=prod.description%>
                    </td>
                    <td>
                        <%=prod.price%>
                    </td>
                    <td>
                        <% if(isAdmin===true){%>
                            <form action="/products/<%=prod._id%>" method="POST">
                                <button>Details</button>
                            </form>
                            <form action="/edit/<%=prod._id%>" method="GET">
                                <button>Edit</button>
                            </form>
                            <form action="/delete/<%=prod._id%>" method="POST">
                                <button>Delete</button>
                            </form>

                            <%} else {%>
                                <form action="/products/<%=prod._id%>" method="POST">
                                    <button>View</button>
                                </form>
                                <%- include('../includes/add-to-cart',{product:prod}) %>
                                <%}%>
                    </td>
                </tr>
                <%}%>
                    <%} else {%>
                        <h3>No Products Found!</h3>
                        <% }%>

    </tbody>
</table>